0.0.0.0:3030
tls off
log /var/log/access.log

root /var/www

# proxy /api/schema-registry localhost:8081 {
#     without /api/schema-registry
# }

# proxy /api/kafka-rest-proxy localhost:8082 {
#     without /api/kafka-rest-proxy
# }
