{
  auto_https off
  log stdout
}

:${WEB_PORT}

handle_path /api/schema-registry/* {
  reverse_proxy 0.0.0.0:$REGISTRY_PORT
}

handle_path /api/kafka-connect/* {
  reverse_proxy 0.0.0.0:$CONNECT_PORT
}

root * /var/www

header /coyote-tests/results Cache-Control "no-store"
header /coyote-tests/index.html Cache-Control "no-store"

file_server
file_server /certs/* browse
file_server /logs/* browse
