0.0.0.0:3030
tls off
log stdout
errors stdout

root /var/www

proxy /api/schema-registry 0.0.0.0:8081 {
    without /api/schema-registry
}

proxy /api/kafka-rest-proxy 0.0.0.0:8082 {
    without /api/kafka-rest-proxy
}

proxy /api/kafka-connect 0.0.0.0:8083 {
    without /api/kafka-connect
}

browse /certs
browse /logs

header /coyote-tests/results Cache-Control "no-store"
header /coyote-tests/index.html Cache-Control "no-store"
