0.0.0.0:$WEB_PORT {
  tls off
  log stdout
  errors stdout
  errors {
    502 /usr/local/share/landoop/html-errors/custom_502.html
  }
  proxy $LENSES_ROOT_PATH/api localhost:$LENSES_PORT {
    websocket
  }
  proxy /fdd localhost:$FDD_PORT
  proxy / localhost:$LENSES_PORT
  rewrite /box-info.js {
    to /fdd/env.js
  }
}

# The reason for two web servers, is that if the user sets a password, lenses will not be protected by auth basic
# in addition to their own login screen. To merge the two servers, on the lenses proxy directives just add 'except /fdd'
0.0.0.0:$FDD_PORT {
  tls off
  log stdout
  errors stdout

  root /var/www-lenses

  proxy /fdd/api/schema-registry 0.0.0.0:$REGISTRY_PORT {
    without /fdd/api/schema-registry
  }

  proxy /fdd/api/kafka-rest-proxy 0.0.0.0:$REST_PORT {
    without /fdd/api/kafka-rest-proxy
  }

  proxy /fdd/api/kafka-connect 0.0.0.0:$CONNECT_PORT {
    without /fdd/api/kafka-connect
  }

  browse /fdd/certs
  browse /fdd/logs

  header /fdd/coyote-tests/results Cache-Control "no-store"
  header /fdd/coyote-tests/index.html Cache-Control "no-store"


